.validations {
  border: 1px solid $blue;
  width: 55vw;
  margin-left: 20px;
  ul {
    padding: 24px;
    list-style: none;
    li {
      display: block;
      margin-bottom: 12px;
      padding: 0;
      form {
        width: 100%;
        margin: 0;
        .form-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .x-icon {
            fill: $red;
          }
          .check-solo-icon {
            fill: $green-bright;
          }
        }
      }
    }
  }
}
