.filters {
  margin: 0;
  p {
    margin: 0;
    font-size: 16px;
  }
  hr {
    border-color: $dark-gray;
    margin: 1em auto 0 auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .filter-box {
    display: inline-grid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-items: center;
    border-bottom: 1px solid $dark-gray;
    border-left: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
    min-width: 12%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    padding: 4px;
    margin-bottom: 0;
    margin-right: 4px;
    label {
      display: block;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      padding: 8px;
      height: 100%;
      margin: 0;
    }

    .toggle-container {
      display: block;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
      margin: 0;
      padding: 0;
      background: transparent;
    }
  }
}
