.libraries-page > .panel {
  border-radius: 0;
  margin: 0;
  &:last-of-type {
    border-color: $teal;
    border-left: none;
    border-right: none;
    .panel-heading {
      background: $teal-tint;
      border-radius: 0;
      border-bottom: 1px solid $teal;
      &:hover {
        background: $teal;
      }
    }
  }
}
