.stats-panel {
  .reusable-tabs {
    margin: 0;
    .tab-nav button {
      width: 120px;
    }
    .tab-content {
      min-height: 452px;
      padding: 10px;
    }
  }
  .recharts-bar-rectangles {
    height: 100%;
    width: 100%;
  }
  .chart-view {
    display: flex;
  }
  .recharts-responsive-container {
    border: 1px solid $dark-gray;
    margin-right: 20px;
  }
  .recharts-surface, .recharts-bar, .recharts-bar-rectangles {
    height: 100%;
    width: 100%;
    .recharts-pie-sector:first-child .recharts-sector, .recharts-bar-rectangle:first-child .recharts-rectangle {
      fill: tint($green-dark, 30%);
    }
    .recharts-pie-sector:nth-child(2) .recharts-sector, .recharts-bar-rectangle:nth-child(2) .recharts-rectangle {
      fill: tint($orange, 30%);
    }
    .recharts-pie-sector:nth-child(3) .recharts-sector, .recharts-bar-rectangle:nth-child(3) .recharts-rectangle  {
      fill: lighten($red, 10);
    }
  }
  .recharts-default-legend {
    li.recharts-legend-item {
      width: 100%;
      height: 20px;
      position: relative;
      > .recharts-surface {
        position: absolute;
        left: 0;
      }
    }
  }

  .list-view, .adobe-data {
    .buttons {
      display: flex;
      align-items: center;
    }
    .stats-list {
      pointer-events: none;
      margin: 0;
      padding: 10px 0;
      list-style: none;
      width: 60%;
      .stats-category {
        padding: 5px 10px 0 0;
        &:first-child > .stats-category-name {
          background: darken($green-tint, 10);
        }
        &:nth-child(2) > .stats-category-name {
          background: $yellow-tint;
        }
        &:last-child > .stats-category-name {
          background: $red-error;
        }
        > .stats-category-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid $dark-gray;
          margin-bottom: 0;
          padding: 10px 20px;
          font-size: 1em;
          > span {
            margin: 0;
          }
        }
        .inner-stats-list {
          padding: 10px 10px 10px 25px;
          border-radius: 0;
          border-left: 1px solid $dark-gray;
          border-right: 1px solid $dark-gray;
          border-bottom: 1px solid $dark-gray;
        }
      }
      ul:not(.inner-stats-list) {
        list-style: none;
      }
    }
  }
  .adobe-data {
    ul {
      pointer-events: none;
      margin: 0;
      padding: 10px 0;
      list-style: none;
      width: 60%;
      .adobe-data-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: $blue-tint;
        border: 1px solid $blue-dark;
        margin-bottom: 5px;
      }
    }
  }
}

.dropdown-button-container {
  padding: 0;
  position: relative;
  margin-right: 8px;
  .dropdown-button-menu {
    position: absolute;
    right: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    li {
      width: 100%;
      .btn {
        border-top: none;
        text-align: left;
      }
    }
  }
  button.btn {
    width: 100%;
    margin: 0;
    &:hover, &:active, &:focus {
      color: $white;
      background: $gray-brown;
      .svgIcon {
        fill: $white;
      }
    }
    .svgIcon {
      margin-top: 0;
      margin-bottom: 0;
      height: 1em;
      width: 1em;
      &.down-icon {
        transform: rotate(270deg);
      }
      &.up-icon {
        transform: rotate(90deg);
      }
    }
    &.dropdown-button-main {
      display: flex;
      align-items: center;
    }
  }
}

.copy-confirmation {
  display: inline-block;
  vertical-align: middle;
  background: $green-tint;
  margin: 8px 8px 8px 0;
  padding: 6px 12px;
  color: $green-dark;
  border: 1px solid $green-dark;
  opacity: 0;
  transition: opacity 1s linear;
  &.visible {
    opacity: 1;
  }
}
